@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "normalize.css";
@import "./vars.scss";
@import "./helpers.scss";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.page-default {
  padding-top: 80px;
  padding-bottom: 58px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 32px;
}
