@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "normalize.css";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  color: #5b5b5e;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.page-default {
  padding-top: 80px;
  padding-bottom: 58px;
}
