.btn {
  padding: 16px 32px;
  border-radius: 12px;
  border: 2px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s;
  &.primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    &:hover {
      background-color: var(--primary-hover-color);
      border-color: var(--primary-hover-color);
    }
  }
}
