.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__btn {
    width: 248px;
    margin-top: 74px;
    align-self: center;
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
