.auth {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 100dvh;
  }
  &__logo {
    padding-right: 88px;
    margin-left: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #d4d6e0;
    height: 100%;
    padding: 60px 0 60px 88px;
  }
}
